include _include/funkcije.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href= base + '/css/izpisi.css')
  body(style="margin: 50px")
    div#header
      div.h-left(style="width: 25em")
        
      div.h-middle
        img#logo(src= base + "/img/logo.svg")
      div.h-right
        p Fakulteta 
          i(style="color:#c10d0d") za računalništvo
            br
            | in informatiko
        p
          small
            | Večna pot 113
            br
            | 1000 Ljubljana, Slovenija
            br
            | telefon: 01 47 98 100
            br
            | www.fri.uni-lj.sifra
            br
            | e-mail: dekanat@fri.uni-lj.sifra
    div#content(style="margin-top: 35px")
      div
        div.h-left.caps
          p
            b #{vpis.student.ime} #{vpis.student.priimek}
          p #{vpis.student.stalno_bivalisce_naslov}
          p #{vpis.student.stalno_bivalisce_posta.postna_stevilka} #{vpis.student.stalno_bivalisce_obcina.ime}
          p #{vpis.student.stalno_bivalisce_drzava.slovenski_naziv}
        div.h-right
          p Številka: #{vpis._id.toString().substring(16, 24)}
          p Datum: 
            +formatDate(vpis.vpisan)
      div.caps(style="padding:4em 0 2.5em 0")
        p(style="text-align: center")
          b potrdilo o vpisu
      table
        tr
          td
            p.label Vpisna številka
          td(colspan="4")
            p.label Priimek in ime
        tr
          td
            p
              b #{vpis.student.vpisna_stevilka}
          td(colspan="4")
            p.caps
              b #{vpis.student.priimek}, #{vpis.student.ime}
        tr
          td
            p.label Datum rojstva
          td(colspan="2")
            p.label Kraj rojstva
          td(style="width: 30%;")
            p.label Država, občina rojstva
          td
            p.label Državjanstvo
        tr
          td
            p
              b
                +formatDate(vpis.student.datum_rojstva)
          td(rowspan="2", colspan="2")
            p
              b= vpis.student.kraj_rojstva
          td(rowspan="2")
            p
              b #{vpis.student.drzava_rojstva.slovenski_naziv}, #{vpis.student.obcina_rojstva.ime}
          td(rowspan="2")
            p
              b= vpis.student.drzavljanstvo
        tr
          td &nbsp;
        tr
          td(colspan="3")
            p.label Študijsko leto
          td(colspan="2")
            p.label Vrsta vpisa
        tr
          td(colspan="3")
            p
              b= vpis.studijsko_leto.studijsko_leto
          td(colspan="2")
            p
              b= vpis.vrsta_vpisa.naziv
        tr
          td(colspan="3")
            p.label Način in oblika študija
          td(colspan="2")
            p.label Letnik/dodatno leto
        tr
          td(colspan="3")
            p
              b #{vpis.nacin_studija.naziv}, #{vpis.oblika_studija.naziv}
          td(colspan="2")
            p
              b= vpis.letnik.naziv
        tr
          td(colspan="3")
            p.label Študijski program
          td(colspan="2")
            p.label Smer/usmeritev/modul/znanstveno področje
        tr
          td(colspan="3")
            p
              b= vpis.studijski_program.naziv
          td(colspan="2")
            p
              b= vpis.usmeritev
        tr
          td(colspan="5")
            p.label Vrsta in stopnja študija
        tr
          td(colspan="5")
            p
              b #{vpis.vrsta_studija.sifra} #{vpis.vrsta_studija.opis}
      div(style="margin-top: 15em;")
        p.h-right prof. dr. Bojan Orel
          br
          | dekan