include _include/funkcije.pug

doctype html
html
  head
    title= title
    link(rel='stylesheet', href= base + '/css/izpisi.css')
  body
    div#header
      div.h-left
        h1 VPISNI LIST #{vpis.studijsko_leto.studijsko_leto}
          br
          | za študente
        p Fakulteta za računalništvo in informatiko
      div.h-middle
        img#logo(src= base + "/img/logo.svg")
      div.h-right
        p
          small Ur.I. RS, št. 32/2012-UPB 7 in
          br
          small spremembe)
        p.label
          small 500-7/2014-1
    div#content
      table
        tr
          td
            p.label Vpisna številka
          td(colspan="4")
            p.label Priimek in ime
        tr
          td
            h2 #{vpis.student.vpisna_stevilka}
          td(colspan="4")
            h2 #{vpis.student.priimek}, #{vpis.student.ime}
        tr
          td
            p.label Datum rojstva
          td(colspan="2")
            p.label Kraj rojstva
          td(style="width: 30%;")
            p.label Država, občina rojstva
          td
            p.label Državjanstvo
        tr
          td
            p
              +formatDate(vpis.student.datum_rojstva)
          td(rowspan="2", colspan="2")
            p= vpis.student.kraj_rojstva
          td(rowspan="2")
            p #{vpis.student.drzava_rojstva.slovenski_naziv}, #{vpis.student.obcina_rojstva.ime}
          td(rowspan="2")
            p= vpis.student.drzavljanstvo
        tr
          td &nbsp;
        tr
          td
            p.label Spol
          td(colspan="2")
            p.label EMŠO
          td(colspan="2")
            p.label Davčna številka
        tr
          td
            p= vpis.student.spol
          td(colspan="2")
            p= vpis.student.emso
          td(colspan="2")
            p= vpis.student.davcna_stevilka
        tr
          td(colspan="3")
            p.label e-pošta
          td(colspan="2")
            p.label Prenosni telefon
        tr
          td(colspan="3")
            p= vpis.student.email
          td(colspan="2")
            p= vpis.student.prenosni_telefon
        tr
          td
            p.label &nbsp;
          td
            p.label Vročanje
          td(colspan="2")
            p.label Naslov
          td
            p.label Država, občina
        tr
          td
            p.label Stalno bivališče
          td
            if vpis.student.stalno_bivalisce_vrocanje
              p &nbsp;x
            else
              p &nbsp;
          td(colspan="2")
            p #{vpis.student.stalno_bivalisce_naslov}, #{vpis.student.stalno_bivalisce_posta.postna_stevilka} #{vpis.student.stalno_bivalisce_posta.naziv}
          td
            p #{vpis.student.stalno_bivalisce_drzava.slovenski_naziv}, #{vpis.student.stalno_bivalisce_obcina.ime}
        tr
          td
            p.label Začasno bivališče
          td
            if vpis.student.zacasno_bivalisce_vrocanje
              p &nbsp;x
            else
              p &nbsp;
          td(colspan="2")
            if vpis.student.zacasno_bivalisce_naslov && vpis.student.zacasno_bivalisce_posta
              p #{vpis.student.zacasno_bivalisce_naslov}, #{vpis.student.zacasno_bivalisce_posta.postna_stevilka} #{vpis.student.zacasno_bivalisce_posta.naziv}
            else
              p -
          td
            if vpis.student.zacasno_bivalisce_obcina && vpis.zacasno_bivalisce_drzava
              p #{vpis.student.zacasno_bivalisce_drzava.slovenski_naziv}, #{vpis.student.zacasno_bivalisce_obcina.ime}
            else
              p -
        tr
          td(style="width: 18%;")
            p.label &nbsp;
          td(style="width: 50px;")
            p.label &nbsp;
          td
            p.label &nbsp;
          td
            p.label &nbsp;
          td(style="width: 30%;")
            p.label &nbsp;
      div.title PODATKI O VPISU
      table
        tr(colspan)
          td(colspan="3")
            p.label Študijski program
        tr
          td(colspan="3")
            h3= vpis.studijski_program.naziv
        tr
          td(colspan="3")
            p.label Smer/usmeritev/modul/znanstveno področje
        tr
          td(colspan="3")
            p= vpis.usmeritev
        tr
          td
            p.label Kraj izvajanja
          td(colspan="2")
            p.label Izbirna skupina
        tr
          td
            p= vpis.kraj_izvajanja
          td
            p= vpis.izbirna_skupina
        tr
          td(style="width:50%;") &nbsp;
          td(style="width:25%;") &nbsp;
          td(style="width:25%;") &nbsp;
        tr
          td(colspan="3")
            p.label Vrsta študija
        tr
          td(colspan="3")
            p #{vpis.vrsta_studija.sifra} #{vpis.vrsta_studija.opis}
        tr
          td
            p.label Vrsta vpia
          td
            p.label Letnik/dodatno leto
          td
            p.label Način in oblika študija
        tr
          td
            p= vpis.vrsta_vpisa.naziv
          td
            p= vpis.letnik.naziv
          td
            p #{vpis.nacin_studija.naziv}, #{vpis.oblika_studija.naziv}
        tr
          td(style="width:50%;") &nbsp;
          td(style="width:25%;") &nbsp;
          td(style="width:25%;") &nbsp;
      div(style="page-break-after: always;margin-top:15em")
        div.h-left
          p.label Datum oddaje:
          p
            +formatDate(vpis.vpisan)
        div.h-right
          p
            small ______________________________________
              br
              | podpis študentke/študenta
      div.title(style="margin-top:1.5em;") PRILOGA 1: PREDMETNIK
      table
        tr
          td(colspan="3")
            p.label Študijski program
        tr
          td(colspan="3")
            h4= vpis.studijski_program.naziv
        tr
          td
            p.label Učitelj
          td
            p.label Učna enota
          td
            p.label Število KT
        each predmet in vpis.predmeti
          tr
            td.border-top(style="width: 20%")
              ul
                each izvajalec in predmet.izvedbe_predmeta[predmet.izvedbe_predmeta.length - 1].izvajalci
                  li #{izvajalec.naziv} #{izvajalec.ime} #{izvajalec.priimek}
            td.border-top #{predmet.naziv}
            td.border-top(style="width: 50px") #{predmet.KT}
        tr
          td(colspan="2")
            p &nbsp;
          td(style="border-top:3px double #ddd")
            p= sumKT
      div(style="margin: 3em 0 1em 0; text-align: right;")
        p Veljavnost predmetnika potrjuje: _________________________
            small
              br
              | podpis mentorja/koordinatorja/
              br
              | skrbnika področja
        br
        p Pregledal: _________________________
      div.title PRILOGA 2: PREDHODNO DOSEŽENA IZOBRAZABA
      table
        tr
          td
            p.label Zavod
          td
            p.label Kraj
          td
            p.label Država
        tr
          td
            p= vpis.student.predhodna_izobrazba.zavod
          td
            p= vpis.student.predhodna_izobrazba.kraj
          td
            p= vpis.student.predhodna_izobrazba.drzava.slovenski_naziv
        tr
          td
            p.label Program
          td
            p.label Leto zaključka
          td
            p.label Uspeh
        tr
          td
            p= vpis.student.predhodna_izobrazba.program
          td
            p= vpis.student.predhodna_izobrazba.leto_zakljucka
          td
            p= vpis.student.predhodna_izobrazba.uspeh
        tr
          td
            p.label Smer/naziv strokovne izobrazbe
          td(colspan="2")
            p.label Način končanja srednje šole
        tr
          td
            p= vpis.student.predhodna_izobrazba.smer_strokovna_izobrazba
          td
            p= vpis.student.predhodna_izobrazba.nacin_koncanja
        tr
          td
            p.label Smer/naziv strokovne izobrazbe
          td(colspan="2")
            p.label Način končanja srednje šole
        tr
          td
            p #{vpis.student.predhodna_izobrazba.najvisja_dosezena_izobrazba.sifra} #{vpis.student.predhodna_izobrazba.najvisja_dosezena_izobrazba.opis}
          td(colspan="2")
            p #{vpis.student.predhodna_izobrazba.najvisja_dosezena_izobrazba.sifra} #{vpis.student.predhodna_izobrazba.najvisja_dosezena_izobrazba.opis}
        tr
          td
            p.label Vrsta vpia
          td
            p.label Letnik/dodatno leto
          td
            p.label Način in oblika študija
        tr
          td
            p= vpis.vrsta_vpisa.naziv
          td
            p= vpis.letnik.naziv
          td
            p #{vpis.nacin_studija.naziv}, #{vpis.oblika_studija.naziv}
        tr
          td(style="width:50%;") &nbsp;
          td(style="width:25%;") &nbsp;
          td(style="width:25%;") &nbsp;